

/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

header .buscador{
    height: 3em;
    width: 38em;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: .5em;
    background-color: gray;
}

header .buscador i{
    width: 1em;
    height: 1em;
    color: black;
}

header .buscador input{
    width: 44em;
    padding: .5em;
    border: none;
    font-weight: 900;
    font-size: 1em;
    background-color: gray;
    outline: none;
}

header .buscador input::placeholder{
    color: black;
}

@media screen and (max-width: 1024px){
    header .buscador{
        width: 20em;
    }
}


@media screen and (max-width: 768px){

/*---------------------------------------------*/
/*MENU*/ 

/*HEADER*/

header .buscador i{
    font-size: 1.5em;
}

header .buscador{
    width: 15em;
    height: 2.5em;
}
    
header .buscador input{
    width: 10em;
    height: 2em;
    margin-left: 1.2em;
}   
}


@media screen and (max-width: 425px){

/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

.menu header{
    display: flex;
}

.menu header .perfil{
    display: none;
}

header .buscador{
    height: 2em;
    width: 10em;
    margin-top: .5em;
}

header .buscador input{
    width: 8em;
    font-size: .8em;
}
}