/*---------------------------------------------*/
/*GENERAL*/

body{
    background-color: black;
    color: white;
    height: 100vh;
}

img{
    width: 200px;
    height: 200px;
}

i{
    font-size: 1.6em;
    color: yellow;
}

section .albums::-webkit-scrollbar{
    background-color: black;
    width: 4px;
}

section .albums::-webkit-scrollbar-thumb{
    background-color: rgb(144, 122, 0);
}

.contenedor_pagina{
    display: flex;
}


/*---------------------------------------------*/
/*NAVEGADOR*/

.navegador{
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    width: 50rem;
    margin: .5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.navegador nav ul li{
    border: 2px solid rgb(95, 80, 0);
    padding: 2em 1em;
    cursor: pointer;
}

.navegador nav ul .buscar{
    background-color: rgb(95, 80, 0);
}

.navegador nav ul li:hover{
    background-color: rgb(95, 80, 0);
}

.navegador nav ul li a{
    padding: 1em;
    color: white;
    font-size: 1.5em;
}

.navegador .cancion_actual{
    margin: 1em 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.navegador .cancion_actual img{
    width: 250px;
    height: 250px;
}

.navegador .cancion_actual i{
    cursor: pointer;
}

.navegador p{
    font-size: 1.05em;
    text-align: center;
}


/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

.menu{
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    margin: .5rem;
    padding: .5rem;
}

.menu header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.8rem;
}

header .buscador{
    height: 3em;
    width: 38em;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: .5em;
    background-color: gray;
}

header .buscador i{
    width: 1em;
    height: 1em;
    color: black;
}

header .buscador input{
    width: 44em;
    padding: .5em;
    border: none;
    font-weight: 900;
    font-size: 1em;
    background-color: gray;
    outline: none;
}

header .buscador input::placeholder{
    color: black;
}

header .perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .perfil .nombre h2{
    font-size: 1.4em;
    margin-bottom: .3em;
}

header .perfil .nombre a{
    color: rgba(255, 217, 0, 0.713);
}

header .perfil .foto{
    width: 70px;
    margin: 0 1em;
    height: 70px;
    background-color: rgba(255, 217, 0, 0.713);
    cursor: pointer;
}


/*SECTION*/

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .albums{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    overflow-y: scroll;
    height: 38rem;
}

section .albums .album{
    text-align: center;
    width: 30%;
    padding: 1em;
}

section .albums img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: all .5s ease;
}

section .albums img:hover{
    scale: 1.2;
    transition: all .5s ease;
}

section audio{
    margin-top: 2em;
    margin-bottom: 1em;
    width: 60em;
}


/*---------------------------------------------*/
/*FOOTER*/

footer{
    background-color: rgb(42, 42, 42);
    margin: .5rem;
    padding: 1rem;
    text-align: center;
}



/*---------------------------------------------*/
/*RESPONSIVE*/

@media screen and (max-width: 1440px){
    
/*---------------------------------------------*/
/*NAVEGADOR*/

.navegador nav ul li{
    padding: 1.5em .5em;
}

.navegador nav ul li a{
    font-size: 1.3em;
}

.navegador .cancion_actual img{
    width: 220px;
    height: 220px;
}

.navegador p{
    font-size: 1em;
}


/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

header{
    margin-bottom: 0rem;
}

header .buscador{
    height: 2.5em;
    width: 34em;
}

header .buscador input{
    width: 40em;
}

header .perfil .nombre h2{
    font-size: 1.2em;
    margin-bottom: .2em;
}

header .perfil .foto{
    width: 55px;
    height: 55px;
}


/*SECTION*/

section .albums{
    height: 35rem;
}

section .albums .album{
    padding: .6em;
}

section .albums img{
    width: 150px;
    height: 150px;
}

section .albums img:hover{
    scale: 1;
    transition: all .5s ease;
}

section audio{
    width: 40em;
}

}


@media screen and (max-width: 1024px){
    
/*---------------------------------------------*/
/*NAVEGADOR*/

.navegador nav ul li a{
    font-size: 1.2em;
}

.navegador .cancion_actual img{
    width: 180px;
    height: 180px;
}

.navegador p{
    font-size: .9em;
}


/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

header{
    margin-bottom: 1rem;
}

header .buscador{
    height: 2.3em;
    width: 30em;
    position: relative;
}

header .buscador input{
    width: 40em;
    height: 2em;
    margin-left: 1.2em;
}

header .buscador i{
    position: absolute;
    width: .5em;
    height: .5em;
    top: .3em;
}

header .perfil .nombre h2{
    font-size: 1.1em;
    margin-bottom: .2em;
}

header .perfil .nombre a{
    font-size: 1em;
}


/*SECTION*/

section .albums{
    height: 31.5rem;
}

section .albums img{
    width: 130px;
    height: 130px;
}

section audio{
    width: 20em;
}

}


@media screen and (max-width: 768px){
    
/*---------------------------------------------*/
/*NAVEGADOR*/
    
.navegador nav ul li a{
    font-size: 1.1em;
}
    
.navegador .cancion_actual img{
    width: 140px;
    height: 140px;
}
    
.navegador p{
    font-size: .8em;
}
    
    
/*---------------------------------------------*/
/*MENU*/
    
    
/*HEADER*/
    
header .buscador{
    width: 15em;
}
    
header .buscador input{
    width: 13em;
    height: 2em;
    margin-left: 1.2em;
}
    
header .perfil .nombre h2{
    font-size: 1em;
    margin-bottom: .2em;
}
    
header .perfil .nombre a{
    font-size: 1em;
}
    
/*SECTION*/
    
section audio{
    width: 20em;
    height: 3em;
}

/*FOOTER*/

footer{
    font-size: .89em;
}
    
}



@media screen and (max-width: 425px){
img{
    width: 100px;
    height: 100px;
}

.contenedor_pagina{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------*/
/*NAVEGADOR*/

.navegador{
    border-radius: 0px;
    width: 100%;
    margin: .0rem;
    padding: .5rem;
}

.navegador nav ul li{
    padding: 1em 0em;
    text-align: center;
}

.navegador nav ul li a{
    font-size: 1em;
}

/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

.menu{
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    margin: .0rem;
    padding: .5rem;
}

.menu header{
    flex-direction: column-reverse;
}

header .buscador{
    height: 2em;
    width: 10em;
    margin-top: .5em;
}

header .buscador input{
    width: 8em;
    font-size: .8em;
}

header .buscador i{
    font-size: 1.2em;
}

header .perfil{
    flex-direction: column-reverse;
    text-align: center;
}


/*SECTION*/

section .albums{
    height: 38rem;
}

section .albums .album{
    text-align: center;
    width: 45%;
    padding: 1em;
}

section .albums img{
    width: 100px;
    height: 110px;
}

section audio{
    margin-top: 2em;
    margin-bottom: 1em;
    width: 15em;
    height: 2.5em;
}

/*FOOTER*/

footer{
    margin: 0;
    font-size: .8em;
}
}