/*---------------------------------------------*/
/*GENERAL*/

body{
    color: white;
    height: 100vh;
}

img{
    width: 200px;
    height: 200px;
}

i{
    font-size: 1.6em;
    color: yellow;
}

section .albums::-webkit-scrollbar{
    background-color: black;
    width: 4px;
}

section .albums::-webkit-scrollbar-thumb{
    background-color: var(--color-gold);
}

.contenedor_pagina{
    display: flex;
}


/*---------------------------------------------*/
/*NAVEGADOR*/

.navegador{
    background-color: var(--color-gris-oscuro);
    border-radius: 5px;
    width: 20%;
    margin: .5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}


.navegador nav ul li{
    border: 2px solid var(--color-gold);
    cursor: pointer;
    display: flex;
    justify-content: start;
}

.navegador nav ul .home{
    background-color: var(--color-gold);
}

.navegador nav ul .buscar{
    background-color: var(--color-gold);
}

.navegador nav ul .misFavoritas{
    background-color: var(--color-gold);
}

.navegador nav ul .albums_favoritos{
    background-color: var(--color-gold);
}

.navegador nav ul .menu_responsive{
    display: none;
}

.navegador nav ul li:hover{
    background-color: var(--color-gold);
}

.navegador nav ul li a{
    color: white;
    font-size: 1.5em;
    padding: 1em;
    width: 100%;
}

.navegador .cancion_actual{
    margin: 1em 0;
    display: flex;
    justify-content: center;
}

.navegador .cancion_actual div{
    position: relative;
}

.navegador .cancion_actual img{
    width: 15em;
    height: 20em;
} 

.navegador .cancion_actual i{
    cursor: pointer;
    position: absolute;
    right: 0;
}

.navegador p{
    font-size: 1.05em;
    text-align: center;
}


/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

.menu{
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    margin: .5rem;
    padding: .5rem;
    width: 80%;
}

.menu .musica-sonando{
    justify-content: end;
}

/*SECTION*/

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .albums{
    display: flex;
    
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 38rem;
    width: 100%;
}

section .albums .album{
    text-align: center;
    width: 30%;
    padding: 1em;
    display: flex;
    justify-content: center;
    transition: all .5s ease;
}

section .albums .album a{
    position: relative;
}

section .albums img{
    width: 200px;
    height: 200px;
    cursor: pointer; 
}

section .albums .album i{
    cursor: pointer;
    position: absolute;
    right: 0;
}

section audio{
    margin-top: 2em;
    margin-bottom: 1em;
    width: 60em;
}


/*---------------------------------------------*/
/*FOOTER*/

footer{
    background-color: rgb(42, 42, 42);
    margin: .5rem;
    padding: 1rem;
    text-align: center;
}



/*---------------------------------------------*/
/*RESPONSIVE*/

@media screen and (max-width: 1440px){
    
/*---------------------------------------------*/
/*NAVEGADOR*/

.navegador nav ul li a{
    font-size: 1.3em;
}

.navegador .cancion_actual img{
    width: 12em;
    height: 12em;
}

.navegador p{
    font-size: 1em;
}


/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

header{
    margin-bottom: 0rem;
}

header .perfil .nombre h2{
    font-size: 1.2em;
    margin-bottom: .2em;
}

header .perfil .foto{
    width: 55px;
    height: 55px;
}


/*SECTION*/

section .albums{
    height: 35rem;
}

section .albums .album{
    padding: .6em;
}

section .albums img{
    width: 150px;
    height: 150px;
}

section .albums img:hover{
    scale: 1;
    transition: all .5s ease;
}

section audio{
    width: 40em;
}

}


@media screen and (max-width: 1024px){
    
h1{
    font-size: 1.5em;
}

/*---------------------------------------------*/
/*NAVEGADOR*/

.navegador nav ul li a{
    font-size: 1.2em;
}

.navegador .cancion_actual img{
    width: 10em;
    height: 10em;
}

.navegador p{
    font-size: .9em;
}


/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

header{
    margin-bottom: 1rem;
}

header .perfil .nombre h2{
    font-size: 1.1em;
    margin-bottom: .2em;
}

header .perfil .nombre a{
    font-size: 1em;
}


/*SECTION*/

section .albums{
    height: 31.5rem;
}

section .albums img{
    width: 130px;
    height: 130px;
}

section audio{
    width: 20em;
}

}


@media screen and (max-width: 768px){

i{
    font-size: 1.2em;
}

h1{
    font-size: 1.2em;
}

/*---------------------------------------------*/
/*NAVEGADOR*/

.navegador nav ul li a{
    font-size: 1em;
    padding: 1em .2em;
}
    
.navegador .cancion_actual img{
    width: 6em;
    height: 8em;
}
    
.navegador p{
    font-size: .9em;
}
    
    
/*---------------------------------------------*/
/*MENU*/
    
    
/*HEADER*/
    
header .perfil .nombre h2{
    font-size: 1em;
    margin-bottom: .2em;
}
    
header .perfil .nombre a{
    font-size: .8em;
}
    
/*SECTION*/

section .albums .album{
    text-align: center;
    width: 45%;
    padding: 1em;
}

section audio{
    width: 20em;
    height: 2.5em;
    margin: .5em;
}

/*FOOTER*/

footer{
    font-size: .89em;
}
}

@media screen and (max-width: 425px){
img{
    width: 100px;
    height: 100px;
}

.contenedor_pagina{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------*/
/*NAVEGADOR*/

.navegador{
    border-radius: 0px;
    width: 100%;
    margin: .0rem;
    padding: .5rem;
}

.navegador nav ul li{
    padding: 1em 0em;
    text-align: center;
}

.navegador nav ul li a{
    font-size: 1em;
    padding: 0em;
}

.navegador .cancion_actual img{
    width: 9em;
    height: 9em;
}

.navegador nav ul .menu_responsive{
    display: block;
}

.navegador nav ul .menu_responsive{
    display: block;
}

/*---------------------------------------------*/
/*MENU*/


/*HEADER*/

.menu header{
    display: none;
}

.menu{
    background-color: rgb(42, 42, 42);;
    border-radius: 0px;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
}

.menu header{
    flex-direction: column-reverse;
}

header .buscador{
    height: 2em;
    width: 10em;
    margin-top: .5em;
}

header .buscador input{
    width: 8em;
    font-size: .8em;
}

header .buscador i{
    font-size: 1.2em;
}

header .perfil{
    flex-direction: column-reverse;
    text-align: center;
}


/*SECTION*/

section .albums{
    height: 38rem;
}

section .albums img{
    width: 100px;
    height: 110px;
}

section audio{
    margin-top: 2em;
    margin-bottom: 1em;
    width: 15em;
    height: 2.5em;
}

/*FOOTER*/

footer{
    margin: 0;
    font-size: .8em;
    border-radius: 0;
}
}