i{
    cursor: pointer;
}

h1{
    text-align: center;
}

section .tabla::-webkit-scrollbar{
    background-color: black;
    width: 4px;
}

section .tabla::-webkit-scrollbar-thumb{
    background-color: rgb(144, 122, 0);
}

section .tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 38rem;
    width: 100%;
}

.menu section .tabla .fila{
    display: flex;
}

.menu section .tabla .fila .columna{
    border: 1px solid rgba(255, 217, 0, 0.713);
    width:10em;
    padding: 1em;
    font-size: 1.3em;
}

.menu section .tabla .fila .cancion{
    display: flex;
    justify-content: space-between;
}

.menu section .tabla .fila .cancion i{
    font-size: 1em;
    cursor: pointer;
}



@media screen and (max-width:1024px) {
    section .tabla{
        height: 30rem;
    }
    
    .menu section .tabla .fila .columna{
        width: 8em;
        padding: .5em;
        font-size: 1.1em;
    }
    
    .menu section .tabla .fila .cancion i{
        font-size: .8em;
    }
}

@media screen and (max-width:768px) {

    i{
        font-size: 1.1em;
    }

    h4{
        font-size: .9em;
    }

    section .tabla{
        height: 28rem;
    }
    
    .menu section .tabla .fila .columna{
        width: 6.8em;
        padding: .5em;
        font-size: 1em;
    }
    
    .menu section .tabla .fila .cancion i{
        font-size: .6em;
    }
}


@media screen and (max-width:768px) {

    i{
        font-size: 1em;
    }

    h4{
        font-size: .8em;
    }

    section .tabla{
        height: 28rem;
    }
    
    .menu section .tabla .fila .columna{
        width: 6.1em;
        padding: .5em;
        font-size: .8em;
    }
    
    .menu section .tabla .fila .cancion i{
        font-size: .6em;
    }
}