.contenedor_pagina{
    height: 90%;
}

.contenedor-tabla{
    height: 90%;
}

.tabla{
    width: 80%;
    height: 100%;
}

.tabla .fila{
    display: flex;
    width: 100%;
    height: 16.7%;
}

.tabla .fila .columna{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    border: 1px solid rgba(255, 217, 0, 0.713);
    font-size: 1.3em;
}

@media screen and (max-width:1440px) {
    .tabla .fila .columna{
        font-size: .9em;
    }
}

@media screen and (max-width:1024px) {
    .tabla .fila .columna{
        font-size: .7em;
    }
}

@media screen and (max-width:768px) {
    .tabla{
        width: 100%;
        height: 100%;
    }

    .tabla .fila .columna{
        font-size: .6em;
    }
}

@media screen and (max-width:425px) {

    .tabla .fila{
        height: 22%;
    }
}