.contenedor_pagina{
   height: auto;
   width: 100%;
}

.menu{
    background-color: rgb(42, 42, 42);
}

body {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.navegador{
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    width: 50rem;
    margin: .5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}


.formulario{
    width:100%;
    overflow-y: scroll;
    height: auto;
    margin-top: 5 rem;
}

.input__cont {
    width: 20rem;
    height: 2rem;
    padding: .375rem .75rem;
    margin-left: 10rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.formulario_opcion{
    width: 25%;
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    line-height: 1.5; }

.opcion  {
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.btn {

}
