body {
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

.menu header{
    justify-content: end;
}

header div{
    margin-right: 1em;
}


/*SECTION*/

.menu{
    width: 100%;
}

.formulario{
    width:100%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.input__cont {
    width: 40em;
    padding: 1em;
    font-size: 1em;
    font-weight: 400;
    border: none;
    border-radius: .2em;
}

.formulario_opcion{
    width: 25%;
    display: inline-block;
    font-size: 1.5em;
    padding: 1.25em 0;
    line-height: 1.5; 
    margin-left: 6em;
}

.hipervinculos{
    margin: 3em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.opcion  {
    padding: 2rem;
    font-size: 1.2em;
}
.botones{
    margin: 2em 0;
}
.btn {
	padding: 1em;
    margin-right: 2em;
}

@media (max-width: 1245px){

    .formulario{
        text-align: center;
    }
  
    .formulario_opcion{
        font-size: 1.25em;
        padding-top: 1.5em;
        padding-bottom: .75em;
        width: 100%;
        margin-left: 0em;
    }

    .input__cont {
        width: 60%;
    }

}

@media (max-width: 720px){

    .formulario_opcion{
        font-size: 1em;
        padding-top: 1em;
        padding-bottom: .5em;
    }

}
