
main {
  min-height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 42, 42);
  color: white;
  margin: .5rem;
  margin-top: 0;
}

header{
  margin: .5rem;
  margin-bottom: 0;
  padding: 1em;
  justify-content: end;
}

header div{
  margin-right: 1em;
}

.tick-cross {
  width: 20px;
  height: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.planes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 217, 0, 0.713);
  border-radius: 20px;
  margin: 20px;
  overflow: hidden;
}

.plan ul {
  padding: 50px 40px;
}

.plan h2 {
  width: 100%;
  margin: 0;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gold);
}

.plan li {
  display: flex;
  align-items: center;
}

.plan li p {
  margin-left: 5px;
}

.precio {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  padding: 40px 20px 20px 20px;
}

input[type="radio"] {
  transform: scale(2);
  margin-bottom: 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.btn {
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}


@media screen and (max-width: 425px) {

  header{
    margin: 0;
  }

  main{
    margin: 0;
  }

  .planes{
    flex-direction: column;
  }

  .nombre{
    text-align: center;
  }

  footer{
    margin: 0;
    border-radius: 0;
  }
}