body{
    background-color: black;
    color: white;
    height: 100vh;
}

main{
    background-color: rgb(42, 42, 42);
    margin: .8rem;
    min-height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

main section{
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
}

main section input{
    height: 4em;
    width: 30em;
    border-radius: 10px;
    margin: 1em 0;
    padding: 1em;
    font-size: .5em;
}

main section .boton:hover{
    background-color: black;
    color: white;
}

main section .registrar{
    text-align: center;
    font-size: .7em;
    color: rgb(95, 80, 0);
}

main section .premium{
    text-align: center;
    font-size: .7em;
    color: rgb(95, 80, 0);
}

.btn-registro{
    font-size: .7em;
    margin-bottom: .5em;
}


@media screen and (max-width:768px) {

    main{
        margin: 0;
        border-radius: 0;
    }

    main section{
        font-size: 1.8em;
    }

    footer{
        font-size: .8em;
        margin: 0;
        border-radius: 0;
    }
}

@media screen and (max-width:425px) {

    main section{
        font-size: 1.6em;
    }

    footer{
        font-size: .8em;
    }
}

@media screen and (max-width:375px) {

    main section{
        font-size: 1.4em;
    }
}

@media screen and (max-width:320px) {

    main section{
        font-size: 1.2em;
    }

    footer{
        font-size: 9px;
        text-align: center;
        padding: 2px;
    }
}